*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
  color: #2B283A;
  font-size: 16px;
}

img{
  max-width:100%;
}

h1, h2, h3, p{
  margin: 0;
}

#root{
  width: 550px;
  margin: 0 auto;
}
header{
  background-color: #F55A5A;
  color:#FFFFFF;
}

.trip-image{
  max-width: 250px;
}

.location-link{
  color:#918E9B;
  font-size: .75rem;
}